[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DoubleML"]
	path = DoubleML
	url = https://github.com/doubleml/doubleml-for-r
